.interLayer
  width 100%
  height 13.34rem
  background-color #e3e3e2
  .imgTop
    height 3.86rem
    img
      width 7.5rem
      height 3.86rem
  .imgMiddle
    height 3.27rem
    img
      width 7.5rem
      height 3.27rem
  .imgBottom
    img
      width 7.5rem
      height 4.32rem
  .fake-button
    position fixed
    bottom 3.4rem
    left 2.2rem
    width 3rem
    height .7rem
    background-color transparent