.dist-wraper
  width 100%
  padding-bottom 1rem
  box-sizing border-box
  overflow hidden
  .dist-topBar
    text-align center
    width 100%
    height .88rem
    position relative
    line-height .88rem
    z-index 100
    border-bottom 1px solid #ddd
    background-color #eee
    position fixed
    top 0
    .topBar-left
      margin-left .3rem
      position absolute
      left 0
      text-decoration none
      color #7e8c8d
      i
        font-size .56rem
    .topBar-middle
      display inline-block
      height .86rem
      img
        display inline-block
        width 1.72rem
        height .54rem
        line-height .86rem
        margin-top .16rem
    .topBar-right
      text-decoration none
      display inline-block
      position absolute
      right .3rem
      a
        font-size .7rem
        text-decoration none
        color #7e8c8d
        i
          font-size .56rem
  .lbt-wraper
    overflow hidden
    padding .2rem 0
    margin-top .88rem
    .swiper-container
      width 7.5rem
      overflow visible
      .swiper-wrapper
        /*text-align center*/
        .swiper-slide
          width 7.5rem
          height 3.85rem
          img
            width 100%
            height 100%
  .channels
    width 100%
    height 2.86rem
    overflow hidden
    ul
      display inline-flex
      flex-direction row
      list-style none
      padding-left .17rem
      li
        margin-right .20rem
        height 2.1rem
        a
          text-decoration none
          position relative
          display inline-block
          img
            width 1.64rem
            height 1.64rem
          span
            position absolute
            right 0
            top 0
            color #fff
          .channel-title
            color #000
            margin-top .1rem
  .split
    width 100%
    height .2rem
    background-color #eee
  .recommand
    padding 0 .3rem .2rem
    .reco-header
      width 100%
      height 1.2rem
      text-align center
      span
        line-height 1.2rem
        font-size .4rem
    .cookies-love
      width 6.88rem
      height 5.74rem
      margin-bottom .3rem
      border 1px solid #eee
      border-radius .2rem
      overflow hidden
      a
        text-decoration none
        text-align left
        position relative
        display inline-block
        img
          width 100%
          height 3.86rem
        .rec-title
          color #000
          font-size .36rem
          font-weight 350
          margin-left .2rem
          margin-top .2rem
          margin-bottom .15rem
        .rec-det
          font-size .28rem
          color #7e8c8d
          margin-left .2rem
          margin-top .1rem
        .rec-tag
          position absolute
          left .3rem
          top .2rem
          display inline-block
          width 1.3rem
          height .45rem
          line-height .45rem
          text-align center
          border-radius .2rem
          color #000
          background-color #fff
        .rec-price
          text-align right
          margin-left 1.2rem
          font-size .28rem
          color #000
          font-size .36rem
    .rec-food
      width 100%
      margin-bottom .3rem
      height 2.74rem
      border 1px solid #eee
      padding: 0
      a
        text-decoration none
        display inline-block
        padding 0
        margin 0
        .food-left
          width 4rem
          height 2.74rem
          padding 0
          text-align left
          display inline-block
          .food-left-author
            display flex
            flex-direction row
            margin-top .4rem
            margin-left .2rem
            img
              width .48rem
              height .48rem
              border-radius 50%
            span
              line-height .48rem
              color #333
              margin-left .2rem
              text-align center
          .left-title
            font-size .36rem
            margin-left .2rem
            margin-top .2rem
            margin-bottom .2rem
            color #000
          .rec-detail
            color #666
            margin-left .2rem
            font-size 12px
            line-height 1.5
            text-overflow ellipsis
            white-space nowrap
            overflow hidden
        .food-right
          display inline-block
          float right
          position relative
          img
            width 2.8rem
            height 2.72rem
          span
            position absolute
            left .1rem
            top .15rem
            height .4rem
            width 1.6rem
            text-align center
            line-height .4rem
            background-color #fff
            color #000
            border-radius .2rem
  .topics
    width 100%
    height 5.71rem
    .topic-head
      width 100%
      height 1.2rem
      text-align center
      font-size .4rem
      line-height 1.2rem
    .topic-container
      overflow hidden
      ul
        display flex
        flex-direction row
        list-style none
        margin-top 0
        width 18rem
        padding 0
        li
          margin-left .2rem
          margin-right .1rem
          a
            text-decoration none
            display inline-block
            position relative
            img
              width 5.8rem
              height 4.11rem
            .top-head
              color #666
              position absolute
              top .4rem
              left 2.2rem
            .top-title
              color #000
              font-size 22px
              font-weight 500
              position absolute
              top .9rem
              left 1rem
            .top-det
              color #000
              position absolute
              top 1.6rem
              left 1.6rem
            span
              img
                width .48rem
                height .48rem
                border-radius 50%
  .look
    width 100%
    height 11rem
    .look-head
      width 100%
      height 1.2rem
      text-align center
      font-size .4rem
      line-height 1.2rem
    img
      width 7.5rem
      height 7.5rem
    .look-author
      text-align left
      margin-top .3rem
      margin-left .2rem
      margin-bottom .3rem
      img
        width .44rem
        height .44rem
        vertical-align center
      span
        font-size .28rem
        text-align center
        line-height .44rem
    .look-det
      color #666
      text-align left
      margin-left .2rem
      font-size 14px
  .moreGood
    width 100%
    padding 0 .3rem
    background-color #eee
    text-align center
    .more-head
      width 100%
      height 1.2rem
      text-align center
      font-size .32rem
      font-weight 500
      color #000
      line-height 1.2rem
      div
        height 1px
        width 2.5rem
        display inline-block
        background-color #eea
        vertical-align middle
    .more-item
      width 345px
      height 4.97rem
      background-color #fff
      margin-bottom .3rem
      text-align center
      img
        width 100%
        height 3.6rem
        margin-top .3rem
      .more-det
        text-align left
        margin-left .3rem
        margin-top .4rem
        white-space nowrap
        text-overflow ellipsis
        overflow hidden
  .split-end
    width 100%
    height .3rem
    margin-top -.3rem
    background-color #eee